.sidebar {
    width: 300px;
    height: 100%;
    background-color: #f2eee6;
    margin-right: 2px;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}
.nav {

}

.sidebarList {

}

.sidebarItem {
    a {
        color: green;
    }
}
